[Unit]
Description=Daily differential Inside PostgreSQL backup

[Timer]
OnCalendar=Mon..Sat *-*-* 01:00:00 UTC
Persistent=true
RandomizedDelaySec=10m
Unit=inside-pgbackrest-backup@diff.service

[Install]
WantedBy=timers.target
