FOUNDATION_CONFIG_DIR=/etc/inside/foundation
FOUNDATION_DATABASE_NETWORK=inside-production-database
FOUNDATION_DATABASE_PROJECT=inside-production-database
FOUNDATION_LOGTO_LOOPBACK_PORT=3301
FOUNDATION_LOGTO_PROJECT=inside-production-logto
FOUNDATION_POSTGRES_VOLUME=inside-production-postgres-data
