POSTGRES_DB=postgres
POSTGRES_USER=postgres
PGBACKREST_REPO1_TYPE=s3
PGBACKREST_REPO1_S3_BUCKET=replace-with-backup-bucket
PGBACKREST_REPO1_S3_ENDPOINT=storage.yandexcloud.net
PGBACKREST_REPO1_S3_REGION=ru-central1
PGBACKREST_REPO1_S3_URI_STYLE=host
PGBACKREST_REPO1_STORAGE_VERIFY_TLS=y
